
extends ./layout.jade

block title
  title Article Title

block content
   

    unless user 
        p No estas logeado
    else 
        form(action='logout',method='GET') 
            input(type='submit', value='Salir')



